body {
  margin: 0;
}

p {
  color: white;
}

button {
  background-color: #76bbf4;
  border: none;
  font-family: Roboto;
  font-size: 12px;
  color: white;
  padding: 8px 5px 5px 10px;
  text-transform: uppercase;
}

button::after {
  content: url("../images/chevron.png");
  padding-left: 14px;
  padding-right: 2px;
}

.section2 > .tomo > button {
  width: 200px;
  padding: 5px;
  text-align: center;
}

.section2 > .tomo > button::after {
  content: "";
}

.banner {
  background-image: url("../images/banner-around-page.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 438px;
  background-color: #04529c;
}

.banner > .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 500px;
}

@media only screen and (min-width: 600px) {
  .banner > .flex-container {
    padding: 0 50px !important;
    justify-content: space-between;
  }
}

.banner > .flex-container > .around {
  padding-bottom: 20px;
}

.banner > .flex-container > .around > a.botonflecha > img {
  position: absolute;
  transform: translate(131px, -83px);
}

.banner > .flex-container > .tiempos {
  color: white;
  font-family: RobotoRegular;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.banner > .flex-container > .tiempos > p {
  margin: 0;
  text-shadow: 1px 1px 2px #117396, 0 0 1em #ffffff, 0 0 0.2em #117396;
  font-size: 16px;
  line-height: 2.5rem;
}

@media only screen and (min-width: 768px) {
  .banner > .flex-container > .tiempos {
    margin-top: 80px;
  }
}

.banner > .flex-container > .tickets {
  width: 240px;
  text-align: center;
}

.banner > .flex-container > .tickets > p {
  text-align: left;
  font-family: Robotoregular;
  font-size: 14px;
}

.banner > .flex-container > .tickets > .button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  .banner > .flex-container > .tickets > .button-container {
    margin-bottom: 20px;
  }
}

.banner > .flex-container > .tickets > .button-container > button {
  width: 97px;
}

p.around-1 {
  font-family: titlingbold;
  font-size: 48px;
  max-width: 215px;
  line-height: 3.5rem;
  margin: 0;
  margin-top: 2px;
}

p.around-2,
p.around-3 {
  font-family: titlingstand;
  font-size: 24px;
  margin: 0;
}

p.around-3 {
  color: #76bbf4;
}

.section2 {
  background-image: url("../images/around-section1.jpeg");
  background-position: 50% 0%; 
  background-repeat: no-repeat; 
  background-size: cover; 
  min-height: 376px;
  max-height: 376px;
  background-color: #141414;
}

.section2 > .tomo {
  padding-top: 168px;
  text-align: center;
}

.section2 > .tomo > h2.tomorrow {
  font-family: "Roboto";
  font-size: 48px;
  color: white;
  text-align: center;
  margin-bottom: 0;
  line-height: 50px;
}

@media only screen and (max-width: 600px) {
  .section2 > .tomo > h2.tomorrow {
    font-size: 2rem;
  }
}

.section2 > .tomo > h2.after {
  font-family: "titlingstand";
  font-size: 48px;
  color: #76bbf4;
  text-align: center;
  /* margin-left: 50px; */
}

.section2 > .tomo > h2.after::after {
  content: "";
  content: url("../images/aftermovie.png");
  padding: 0px 0px 0px 10px;

  display: inline-block;
  transform: translate(0px, 6px);
}

.section3 {
  background-image: url("../images/around-section2.png");
  min-height: 719px;
  background-color: #141414;
  background-position: top;
  background-repeat: no-repeat; 
  background-size: cover; 
}

.section3 > .row {
  margin: 0;
  align-items: center;
}

.section3 > .row > .col-md-5 > h3 {
  font-family: titlingbold;
  font-size: 48px;
  color: #ffffff;
  line-height: 184px;
}

.section3 > .row > .col-md-5 > h3::before {
  content: "";
  content: url("../images/horizontal-blue-stroke.png");
  display: inline-block;
  position: absolute;
  transform: translate(0px, 30px);
}

.section3 > .artists-container > .col-md-4   {
  align-items: center;

}

.section3 > .artists-container > .col-md-4 > .white-box {
  background-color: #ffffff;
  padding: 10px;
}


@media only screen and (min-width: 768px) {
  
  .section3 > .artists-container > .col-md-4 > .special-box {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .section3 > .artists-container > .col-md-4 > .white-box {
    margin-bottom: 15px;
  }
}



@media only screen and (min-width: 768px) {
  .section3 > .artists-container > .col-md-4 > .alpha {
    min-height: 520px;
  }
}

.section3 > .artists-container > .col-md-4 > .white-box > h4 {
  font-family: roboto;
  font-size: 18px;
  text-align: center;
  padding-bottom: 18px;
  margin: 27px 0;
  border-bottom: 3px solid #1881ff;
}

.section3 > .artists-container > .col-md-4 > .white-box > ul {
  list-style-type: none;
}

.section3 > .artists-container > .col-md-4 > .white-box > ul > li {
  font-family: Robotoregular;
  font-size: 18px;
  margin-bottom: 1rem;
}

.section4 {

  background-color: #141414;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-color: #141414;
}

.section4 > div {
  padding-bottom: 5px;
}

.section4 > .vertical-line-long {
  text-align: center;
  margin-top: 33px;
}

.section4 > div.logo {
  text-align: center;
}

.section4 > .favicons > ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
}

.section4 > .favicons > ul > li {
  display: inline-block;
}

.section4 > .copyleft {
  text-align: center;
  font-family: robotolight;
  font-size: 20px;
  margin-bottom: 90px;
}

.section4 > .dummy-radio {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #1669df;
}

.section4 > .dummy-radio > a > img {
  display: inline-block;
  width: 100%;
}

h2.helper {
  margin: 0;
  color: red;
  position: absolute;
  font-size: 14px;
  /* visibility: hidden; */
  display: none;
}
