/* .main-menu > .flex-container{
  display: flex;
  flex-wrap: wrap;
}


.main-menu > .flex-item:first-child{
  border: 1px solid red;
  flex: 0 50%;
}

.main-menu > .flex-item:nth-child(2){
  border: 1px solid blue;

}

.main-menu > .flex-item  > ul {
  list-style-type: none;
}

.main-menu > .flex-item  > ul > a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.main-menu > .flex-item  > ul > li {
  display: inline-block
} */

.main-menu > ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #141414;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* @media only screen and (min-width: 768px) {
  .main-menu > ul > .logo-li {
    position: absolute;
    left: 20px;
    top: 7px;
  }
} */

/* .main-menu > ul.topnav li {
  float: left;
} */

.main-menu > ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 8px;
  text-decoration: none;
}

a.logo {
  padding: 0 !important;
}

.main-menu > ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

.main-menu > ul.topnav li a.active::before {
  content: "";
  content: url("../images/horizontal-stroke-blue.png");
  display: inline-block;
  position: absolute;
  transform: translate(0px, 10px);
}

.main-menu > ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
