.banner {
  background-image: url("../images/banner.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  min-height: 438px;
  background-color: #031432;
}

.banner > .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

.banner > .flex-container > .tiempos {
  color: white;
  font-family: RobotoRegular;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.banner > .flex-container > .tiempos > p {
  margin: 0;
}

.section1 {
  background-image: url("../images/section1.jpg");
  background-position: 0% 100%;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto; /* Resize the background image to cover the entire container */
  /*min-height: 450px;*/
  background-color: #013861;
}

.section-1-paragraph {
  font-size: 13px;
  font-family: Robotoregular;
  font-weight: normal;
}

@media only screen and (min-width: 768px) {
  .section-1-paragraph {
  padding-right: 30px;
  margin-top: 4rem;
  }
}



.section2 {
  background-image: url("../images/section2.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  min-height: 630px;
  background-color: #141414;
}

.section3 {
  background-image: url("../images/section3.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  min-height: 570px;
  background-color: #141414;
}

.section4 {
  /*background-image: url("../images/section4.jpg");*/
  background-color: #141414;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  min-height: 218px;
  background-color: #141414;
}

h2 {
  margin: 0;
  color: red;
  position: absolute;
  font-size: 12px;
}

p {
  color: white;
}

p.sky-stroke::before{
  content:url('../images/sky-stroke.png');
}
