.main-menu > ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #141414;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-menu > ul.topnav li {
  padding: 20px 8px;
}


.main-menu > ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  
}

a.logo {
  padding: 0 !important;
}

.main-menu > ul.topnav li a:hover:not(.active) {
  background-color: #111;

}

.main-menu > ul.topnav li a.active {
  /* text-decoration: underline;
  text-decoration-style: solid 2px;
  text-decoration-color: #1881ff;
  text-underline-position: under; */
  border-bottom:5px solid #1881ff;
  margin-bottom:-5px;
}

.main-menu > ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
